body{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/img1.jpg);
    background-size: 100% ;

}

a:link, a:visited, a:active {
    text-decoration:none;
}

.contenedor {
    grid-template-columns: 14%  70% 14%  ;
  display: grid; 

  margin-top: 0%;
  padding-top: 0%;
  /* background-color: #2196F3; */
    
}

.dom2 {
  margin-top: 0%;
  display: grid; 

  
  /* background-color: #2196F3; */
 
}

.dom2 > div {
 
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1{
    margin-top: 0%;
    grid-column: 1 / span 2;
    grid-row: 1;
    
}

.titulo{
    background-color: rgba(255, 255, 255, 0.925);
    font: "Comic Sans MS", cursive, sans-serif;
    padding: 1%;
    font-size: 180%;
}
.item2{
    background-color: rgba(255, 255, 255, 0.925);
    grid-column: 1 / span 2;
    grid-row: 2;  
    
}
.item3{
    grid-column: 1 / span 2;
    grid-row: 3;
}


.plantilla {
    grid-template-columns: 50%   50%  ;
  display: grid; 

  margin-top: 0%;
  padding-top: 0%;
  /* background-color: #2196F3; */
  
 
}


.explicacion{
    grid-row: 1/1;
}
.ejemplo{
    grid-row: 1/4;
}




/* pag ejercicios */

.plantillaE {
    grid-template-columns: 70%   30%  ;
  display: grid; 

  margin-top: 0%;
  padding-top: 0%;
  /* background-color: #2196F3; */
  
 
}
.dom1{
    margin-top: 55%;
    padding: 5%;
    grid-row: 1/4;
    /* background: red; */
}



/* configuracion decorativa */
.intro{
    margin-top: 1%;
    border: black solid;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 35px;
    padding: 2%;
    font: "Comic Sans MS", cursive, sans-serif;
}
.btmIntro {
    background: rgba(255, 174, 0, 0.815);
    border-radius: 5px;
    padding: 1%;
    font-size: larger;
    
}
.btmIntro:hover{
    background: rgba(255, 72, 0, 0.986);
    text-decoration: none;
}

.ejemplo{
    font-size: x-large;
}
.ejemplo> .titulo_ejemplo{
    text-align: justify;
    padding: 2%;
    margin-right: 2%;
}

.subtema > p{
    font-size: x-large;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: brown;
    border-radius: 5px;
  }

  .button:hover{
    background: rgb(224, 121, 24); 
    text-decoration: none;
  }

 

.popup{
    font-size: larger;
    padding: 3%;
    
}

.btn {
    
  
    height: 5em;
    background-color: rgba(255, 174, 0, 0.904);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    font-size: x-large;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color:rgba(255, 72, 0, 0.986);
    text-decoration: none;
  }




/* A href */
 .info {
    background-color:  rgba(255, 174, 0, 0.925);
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  .info:hover{
    background-color:rgba(255, 72, 0, 0.541);
    text-decoration: none;
  }
  
  .emergente{
    background-color:  rgba(0, 225, 255, 0.979);
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  .emergente:hover{
    background-color:  rgba(0, 17, 255, 0.397);
    text-decoration: none;
  }

 

  .ejercicioD{
      text-align: left;
      padding-left: 3%;
      font-size: x-large;
  }
  .ejercicioD>h2{
      color: rgb(255, 174, 0);
  }

 .miboton{
    background-color:  rgba(255, 174, 0, 0.925);
    color: black;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
 }
 .miboton:hover{
    background-color:rgba(255, 72, 0, 0.541);
    text-decoration: none;

 }

 .enunciado{
   font-size: large ;
   font: "Comic Sans MS", cursive, sans-serif;
 }


 .miboton1{
  background-color:  rgba(255, 174, 0, 0.925);
  color: black;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
.miboton1:hover{
  background-color:rgba(255, 72, 0, 0.541);
  text-decoration: none;

}

.boton2{
  background-color:  rgba(0, 225, 255, 0.925);
  color: black;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: solid black;
}
.boton2:hover{
  background-color:rgba(255, 166, 0, 0.493);
  text-decoration: none;

}

.quiz{
  background: red;
}
.quiz:hover{
  background: rgba(248, 145, 28, 0.774);
}


 .back{
    background-color:  rgba(255, 8, 0, 0.925);
    color: black;
    border: solid gray;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
 }

 .back:hover{
    background-color:  rgba(255, 8, 0, 0.925);
    text-decoration: none;
 
    
 }


 .mostrar{
  display: inline ;
 }
 .ocultar{
  display: none
 }
















.hide {
	display:none;
}
.show {
	display: block;
}



/* Jquery */

